.modal-overlay {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  background-color: rgba(0, 12, 239, 0.103);
}

.modal-content {
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  background-color: white;
  box-shadow: 1px 11px 20px 0px #26c955;
}
