.customModal {
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 20%;
  left: 30%;
  right: 30%;
  bottom: 20%;
  background: linear-gradient(to right, rgb(10, 57, 24), rgb(46, 131, 90));
  color: #fdfdfd;
}

.customOverlay {
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  bottom: 0%;
  background-color: rgba(0, 12, 239, 0.103);
}
